@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://www.notebookcheck.biz/fileadmin/Notebooks/News/_nc3/netflixteaser.png);
  background-size: cover;
  color: white;
}

#container {
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
}

#title {
  font-size: 3.1rem;
  color: white;
  font-family: "Bowlby One SC", cursive;
}

span {
  color: #ff0000;
}

#description {
  font-family: "Sorts Mill Goudy", serif;
  color: white;
}

#header {
  text-align: center;
}

#textarea {
  resize: none;
}

#survey-form-container {
  width: 500px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: auto;
  padding: 30px 40px;
}

#name,
#age,
#email,
#dropdown,
#feedback {
  width: 100%;
  padding: 12px 10px;
  margin-top: 10px;
}

.input-box {
  margin-top: 10px;
}

#form-button {
  width: 160px;
  height: 45px;
  border-radius: 50px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

#form-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: red;
}

.form-submit {
    margin: auto;
    width: 160px;
    margin-top: 20px;
}